// Place all the styles related to the Tips controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.page_title {
  margin-top: 40px;
  margin-bottom: 30px;
}

.tip-title {
  color: blue;
  margin-left: 10px;
  text-align: left;
}

.tip-content{
  margin-left: 10px;
}

.tip-show{
  font-size: 20px;
}

#tips {
  font-size: 20px;
}

.author {
}

.tip-form {
  margin-left: 20px;
}

.table-link {
  font-size: 15px;
}

