%h3 New Category

%p
  = simple_form_for @category, url: categories_path(@category), method: :post, validate: true, html: {class: "tip-form"} do |f|
    = f.input :name
    = f.button :submit, class: "submit-button"
