.container
  .homepage-title TechTips

  %p.homepage-content This is an awsome website where you can write technical tips and share with your group members.


  %a.btn.btn-primary#add-tip.homepage-button{ href: "tips/new" }
    .btn-content Add A Tip
